/*
*   BluDood <bludood@bludood.com>
*   https://bludood.com
*   Now you know who to blame if you hate the code ;)
*/

@font-face {
    font-family: SF-Pro;
    font-weight: 500;
    src: url(./font/SFPro/Regular.otf);
}

@font-face {
    font-family: SF-Pro;
    src: url(./font/SFPro/Semibold.otf);
    font-weight: 700;
}

:root {
    --bg: #eeeeee;
    --bg-secondary: #fff;
    --text: #000;
    --text-secondary: #949494;
    --text-white: #fff;
}

body {
    font-family: SF-Pro, sans-serif;
    background: var(--bg);
    color: var(--text);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin: 0;
}

.content {
    margin: 50px 20px;
}

.loader {
    vertical-align: middle;
    display: inline;
    animation: load 1s infinite linear;
    font-weight: 700;
    font-size: 30px;
}

span .name {
    color: red;
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: all .3s ease;
    pointer-events: none;
}

.notification a {
    text-decoration: none;
}

.notification.shown {
    opacity: 1;
    transition: all .3s ease;
    pointer-events: auto;
}

.notification.shown > .inner {
    transition: all .3s ease;
    -webkit-transform: scale(1, 1);
    transform: scale(100%);
}

.notification > .inner {
    text-align: center;
    background: var(--bg-secondary);
    width: 300px;
    border-radius: 15px;
    transition: all .3s ease;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(110%);
}

.notification .title {
    padding-top: 5px;
    font-size: 22px;
    line-height: 18px;
    font-weight: 700;
}

.notification .content {
    margin: 0;
    display: block;
    padding: 0px 10px;
}

.notification .actions {
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.notification a {
    padding: 12px 0;
    border-top: solid 1pt rgba(0, 0, 0, 0.1);
}

.notification .actions .default {
    color: #0064FF;
    font-weight: 700;
}

.header {
    margin-bottom: 50px;
}

.header > h3 {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-size: 16px;
}

.header > img {
    width: 50px;
    vertical-align: middle;
    border-radius: 10px;
}

.header > h1 {
    margin-left: 10px;
    display: inline;
    font-family: sans-serif;
    vertical-align: middle;
}

.featured {
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    box-shadow: 0 0 50px rgb(214, 214, 214);
    border-radius: 25px;
    margin: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-white);
    overflow: hidden;
    margin-bottom: 30px;
}

.card.small {
    height: unset;
}

.card.small > .install {
    background: var(--bg-secondary);
    color: black;
}

.card > .install {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.card .install img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.card .install .title {
    display: inline;
    margin-left: 15px;
    word-wrap: break-word;
    width: calc(unset - 20px);
}

.get {
    text-decoration: none;
    border-radius: 100px;
    padding: 5px 10px;
    background: var(--bg);
}

.get span {
    text-decoration: none;
    color: #0064FF;
    font-size: 14px;
    font-weight: 700;
}

.filler {
    flex-grow: 1;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #0064FF;
}

.footer {
    padding: 20px 0;
    text-align: center;
}